header{
    text-align: center;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
}
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}